html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.text-bg-information {
  background-color: #ff0 !important;
  color: #000 !important;
}

.text-bg-none {
  background-color: transparent !important;
  columns: transparent !important;
}

.modal-backdrop-50 {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: rgb(0,0,0,0.5);
  --bs-backdrop-opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reporte iframe {
  height: 100vh !important;
  width: 100% !important;
}